<launch>
      <arg name="sim"            default="false"/>
      <!-- <arg name="launch_rviz"            default="true"/> -->
      
      <!-- Node 1: Main process -->
      <include file="$(find smb_gazebo)/launch/sim.launch" if="$(arg sim)">
            <arg name="launch_gazebo_gui" value="true"/>
            <arg name="world" value="maze_world"/>
      </include>

      <include file="$(find smb)/launch/smb.launch" unless="$(arg sim)"/>

      <!-- Node 2: Custom node!!! TBA -->
      <node pkg="smb" type="rss_state_machine.py" name="RssStateMachine">
      </node>
      
      <!-- Node 3: SLAM -->
      <include file="$(find smb_msf_graph)/launch/smb_msf_graph.launch">
            <arg name="use_sim_time" value="true"/>
      </include>

      <!-- Node 4: Object detection -->
      <include file="$(find object_detection)/launch/object_detection.launch" if="$(arg sim)" >
            <arg name="object_detection_classes" value="[11,24,25,74]"/>
            <arg name="gpu" value="off"/>
            </include>
      <include file="$(find object_detection)/launch/object_detection.launch" unless="$(arg sim)" >
            <arg name="object_detection_classes" value="[11,24,25,74]"/>
            <arg name="gpu" value="on"/>
      </include>
      <!-- object classes
       11: stop sign
       24: backpack
       25: umbrella
       74: clock
      -->

      <!-- Node 5: Low level planner -->
      <include file="$(find smb_navigation)/launch/navigate2d_cmu.launch">
            <arg name="use_msf" value="true"/>
            <arg name="global_frame" value="world_graph_msf"/>
            <arg name="state_estimation_topic" value="/transformed_odom"/>
            <arg name="launch_far_planner" value="true"/>
      </include>

      <include file="$(find object_detection)/launch/post_processing.launch"></include>

      <!-- Node 6: TARE planner -->
      <include file="$(find smb_exploration)/launch/cmu/smb_rss_tare.launch">
            <arg name="rviz" value="false"/>
      </include>

      <!-- <include file="$(find smb_opc)/launch/opc.launch" if="$(arg launch_rviz)"/> -->
</launch>
